.contact-preview{
    padding: 10px;
    display: flex;
    color: #6b6a8a;
    border-radius: 20px;
    box-shadow: 1px 0px 20px 6px #f4f4fc;
    margin-bottom: 15px;
    &-img{
        width: 70px;
        background: #fff;
        border-radius: 50%;
        height: 70px;
        margin-right: 10px;
    }
    &-info{
        line-height: 1.5;
        &-name{
            font-size: 16px;
 
        }
        svg{
            width: 20px;
            fill: pink;
        }
    }
}